## Introduction

In this lesson, we will explore advanced techniques for retrieving and transforming data using SQL (Structured Query Language) in Python. We will be working with the employees database stored in the data.sqlite file.

SQL is a powerful language that allows us to interact with relational databases and perform various operations on the data. By leveraging SQL queries, we can efficiently retrieve specific subsets of data, create meaningful aliases for improved readability, transform selected columns using CASE statements, and utilize built-in SQL functions to perform advanced transformations.

Throughout this lesson, we will dive into practical examples that demonstrate how to apply these techniques to real-world scenarios. We will learn how to filter and sort data, join multiple tables, create aliases for tables and columns, use CASE statements to categorize data based on conditions, and employ built-in SQL functions to calculate derived values.
By the end of this lesson, you will have gained valuable skills in data retrieval and transformation using SQL in Python. These skills are essential for data analysis, data manipulation, and building efficient data pipelines.

Let's get started and unlock the power of SQL to extract meaningful insights from the employees database.

## Learning Objectives

* Use SELECT in SQL to select columns from a database
* Use SQL built-in functions to manipulate the values of the given database

### Libraries and data

Begin by running this code without change.

In [6]:
# CodeGrade step0

# Run this cell without change

# SQL Library
import sqlite3

# Connect to the database
conn = sqlite3.connect('data.sqlite')

# Pandas library
import pandas as pd

# Data
pd.read_sql("""SELECT * FROM employees;""", conn)

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056,Sale Manager (EMEA)
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056,Sales Manager (NA)
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143,Sales Rep
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143,Sales Rep
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102,Sales Rep
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102,Sales Rep
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102,Sales Rep
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102,Sales Rep
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088,Sales Rep
19,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088,Sales Rep
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056,Sales Rep
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621,Sales Rep
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep

### Step 1
Select the last name and the employee number, using head() to grab the first five

In [ ]:
# CodeGrade step1
# Replace None with your code
df_first_five = None

### Step 2
Repeat Step 1, but have the last name come before the employee number

In [ ]:
# CodeGrade step2
# Replace None with your code
df_five_reverse = None

### Step 3
Use an alias to remane 'employeeNumber' as 'ID', where again just show the first five entries.

In [ ]:
# CodeGrade step3
# Replace None with your code
df_alias = None

### Step 4
Use 'CASE' to bin where the jobTitles of President, VP Sales, or VP Marketing have the 'role' of "Executive", and the rest of the employess are "Not Executive". Again use head() for the first five entries.

Hint: For the WHEN clause if we were looking at Managers, we'd have


```
WHEN jobTitle = "Sales Manager (APAC" OR jobTitle = "Sale Manager (EMEA)" OR jobTitle = "Sales Manager (NA)" THEN "Manager"
```

In [ ]:
# CodeGrade step4
# Replace None with your code
df_executive = None

### Step 5

Find the length of the last name of all of the last five employess, where the column is called 'name_length'

In [ ]:
# CodeGrade step5
# Replace None with your code
df_name_length = None

### Step 6
For simplicity, take the first two letters of the job titles, calling this 'short_title' and give the first five entries.

In [ ]:
# CodeGrade step6
# Replace None with your code
df_short_title = None

### Bring in another database

In [ ]:
# CodeGrade step0

# Run this cell without change

pd.read_sql("""SELECT * FROM orderDetails;""", conn)

### Step 7

Find the total rounded price, where the price of each is multiplied by the quanity ordered. Make sure to round this product.
Append .sum() at the end of the statement to verify the correct answer. For example.

```
pd.read_sql("""
SELECT
""", conn).sum()
```

In [ ]:
# CodeGrade step7
# Replace None with your code
sum_total_price = None

### Step 8

It is common in other parts of the world as well as the US Miliitary to have dates as Day/Month/Year. Shift the dates into this format with column names 'day', 'month', and 'year'. Give the last five entries.

In [ ]:
# CodeGrade step8
# Replace None with your code
df_day_month_year = None

### Close the connection

In [ ]:
# Run this cell without changes

conn.close()